# Django specific
*.pyc
__pycache__
db.sqlite3
.env
.DS_Store

# Virtual Environment
venv/
env/

# Media Files (User uploads GitHub par nahi jaane chahiye)
media/
staticfiles/

# React / Frontend (Ye sabse zaroori hai!)
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env